In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
ceac23=pd.read_csv('FY2023-ceac-2023-10-01.csv')

In [3]:
ceac23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131167 entries, 0 to 131166
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   region          131154 non-null  object
 1   caseNumber      131167 non-null  int64
 2   caseNumberFull  131167 non-null  object
 3   consulate       35040 non-null   object
 4   status          63122 non-null   object
 5   submitDate      35040 non-null   object
 6   statusDate      35040 non-null   object
 7   Issued          131167 non-null  int64
 8   AP              131167 non-null  int64
 9   Ready           131167 non-null  int64
 10  Refused         131167 non-null  int64
 11  Refused221g     131167 non-null  int64
 12  InTransit       131167 non-null  int64
 13  Transfer        131167 non-null  int64
 14  NVC             131167 non-null  int64
 15  2nlDate         35040 non-null   object
dtypes: int64(9), object(7)
memory usage: 16.0+ MB

In [4]:
ceac23.head(15)

,region,caseNumber,caseNumberFull,consulate,status,submitDate,statusDate,Issued,AP,Ready,Refused,Refused221g,InTransit,Transfer,NVC,2nlDate
0,AF,1,2023AF1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
1,AF,2,2023AF2,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
2,AF,3,2023AF3,NRB,Issued,2021-Oct-14,2022-Oct-18,1,0,0,0,0,0,0,0,2023-Jan-01
3,AF,4,2023AF4,ABD,Issued,2021-Oct-31,2023-Jun-14,1,0,0,0,0,0,0,0,2023-Apr-14
4,AF,5,2023AF5,NaN,NVC,NaN,NaN,0,0,0,0,0,0,0,1,NaN
5,AF,6,2023AF6,KGL,Issued,2021-Oct-14,2022-Dec-09,1,0,0,0,0,0,0,0,2023-Jan-01
6,AF,7,2023AF7,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
7,AF,8,2023AF8,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
8,AF,9,2023AF9,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
9,AF,10,2023AF10,NaN,NVC,NaN,NaN,0,0,0,0,0,0,0,1,NaN
10,AF,11,2023AF11,FTN,Issued,2021-Nov-08,2023-Aug-31,2,0,0,0,0,0,0,0,2023-Apr-21
11,AF,12,2023AF12,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
12,AF,13,2023AF13,YDE,Refused,2021-Oct-10,2023-Aug-04,0,0,0,1,0,0,0,0,2023-Jan-01
13,AF,14,2023AF14,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN
14,AF,15,2023AF15,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN

In [5]:
#let's attempt to reduce the overall memory usage of this dataframe since most columns store only two states, 0 and 1, 
#which could use int8 instead of int64. First we select the columns with int64 
numeric_cols=['Issued','AP','Ready','Refused','Refused221g','InTransit','Transfer','NVC']
ceac23[numeric_cols]=ceac23[numeric_cols].astype(np.int8)

In [6]:
ceac23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131167 entries, 0 to 131166
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   region          131154 non-null  object
 1   caseNumber      131167 non-null  int64
 2   caseNumberFull  131167 non-null  object
 3   consulate       35040 non-null   object
 4   status          63122 non-null   object
 5   submitDate      35040 non-null   object
 6   statusDate      35040 non-null   object
 7   Issued          131167 non-null  int8
 8   AP              131167 non-null  int8
 9   Ready           131167 non-null  int8
 10  Refused         131167 non-null  int8
 11  Refused221g     131167 non-null  int8
 12  InTransit       131167 non-null  int8
 13  Transfer        131167 non-null  int8
 14  NVC             131167 non-null  int8
 15  2nlDate         35040 non-null   object
dtypes: int64(1), int8(8), object(7)
memory usage: 9.0+ MB

In [7]:
#We've reduced the memory usage by 7mb, but could save more by compressing object columns, such as region and status.
ceac23.select_dtypes(include=['object']).nunique()

region                 5
caseNumberFull    131167
consulate            127
status                 7
submitDate            35
statusDate           325
2nlDate               33
dtype: int64

In [8]:
category_cols=['region','status']
ceac23[category_cols]=ceac23[category_cols].astype('category')

In [9]:
ceac23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131167 entries, 0 to 131166
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   region          131154 non-null  category
 1   caseNumber      131167 non-null  int64
 2   caseNumberFull  131167 non-null  object
 3   consulate       35040 non-null   object
 4   status          63122 non-null   category
 5   submitDate      35040 non-null   object
 6   statusDate      35040 non-null   object
 7   Issued          131167 non-null  int8
 8   AP              131167 non-null  int8
 9   Ready           131167 non-null  int8
 10  Refused         131167 non-null  int8
 11  Refused221g     131167 non-null  int8
 12  InTransit       131167 non-null  int8
 13  Transfer        131167 non-null  int8
 14  NVC             131167 non-null  int8
 15  2nlDate         35040 non-null   object
dtypes: category(2), int64(1), int8(8), object(5)
memory usage: 7.3+ MB

In [10]:
#saves 2MB more. In total,we saved roughly 9MB or more that 50% of its original size.

In [11]:
#Count NAN values
ceac23.isnull().sum()

region               13
caseNumber            0
caseNumberFull        0
consulate         96127
status            68045
submitDate        96127
statusDate        96127
Issued                0
AP                    0
Ready                 0
Refused               0
Refused221g           0
InTransit             0
Transfer              0
NVC                   0
2nlDate           96127
dtype: int64

In [12]:
#Roughly 68k people were eliminated after the draw

In [13]:
# remove duplicate entries
ceac23.drop_duplicates(inplace=True)

In [14]:
#Save cleaned df
ceac23.to_pickle('cleaned_Ceac_2023.pkl')

In [15]:
# This can be read as
df_cleaned = pd.read_pickle('cleaned_Ceac_2023.pkl')

In [16]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131167 entries, 0 to 131166
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   region          131154 non-null  category
 1   caseNumber      131167 non-null  int64
 2   caseNumberFull  131167 non-null  object
 3   consulate       35040 non-null   object
 4   status          63122 non-null   category
 5   submitDate      35040 non-null   object
 6   statusDate      35040 non-null   object
 7   Issued          131167 non-null  int8
 8   AP              131167 non-null  int8
 9   Ready           131167 non-null  int8
 10  Refused         131167 non-null  int8
 11  Refused221g     131167 non-null  int8
 12  InTransit       131167 non-null  int8
 13  Transfer        131167 non-null  int8
 14  NVC             131167 non-null  int8
 15  2nlDate         35040 non-null   object
dtypes: category(2), int64(1), int8(8), object(5)
memory usage: 7.3+ MB